<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Register</title>
</head>
<body>

    <%if(error){ %>
        <p style="color: red;"><%=error%></p>
    <%}%> 
    <form action="/register" method="post">
        <label>Email: </label><br>
        <input type="text" name="email" autocomplete="off"><br><br>
       
        <label>Password: </label><br>
        <input type="password" name="password" autocomplete="off"><br><br>
        <label>Role: </label><br>
        <select name="role">
            <option selected>--Please choose your role--</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
    
</body>
</html>